body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fdf6f6;
}

.container {
    width: 400px;
    background-color: rgb(207, 109, 109);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#item-input {
    width: 60%;
    padding: 8px;
    margin-right: 10px;
}

#add-btn, #clear-btn {
    padding: 8px 16px;
    cursor: pointer;
}

#list-container {
    list-style-type: none;
    padding: 0;
}

.item {
    margin-bottom: 8px;
}

.item button {
    margin-left: 10px;
    cursor: pointer;
}

.item.purchased span {
    text-decoration: line-through;
    color: #292424;
}
